Kode untuk memuat dataset dalam format CSV ke dalam sebuah dataframe menggunakan library pandas di Python.
1.	Pada baris pertama, dilakukan impor library pandas dengan menggunakan alias pd.
2.	Kemudian, dilakukan impor juga terhadap library mlxtend dan modul frequent_patterns dan association_rules. Library ini digunakan untuk mengimplementasikan algoritma asosiasi dengan pendekatan Frequent Pattern Growth (FP-Growth).
3.	Selanjutnya, dilakukan pembacaan dataset dengan menggunakan fungsi read_csv dari library pandas. Dataset diambil dari file CSV dengan nama 'data-2.csv' dan disimpan dalam sebuah variabel dataframe df1.
4.	encoding="ISO-8859-1" digunakan untuk menangani karakter encoding pada file CSV tersebut.
5.	df1.head() digunakan untuk menampilkan 5 baris pertama dari dataframe yang telah dibaca.

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df1 = pd.read_csv('data-2.csv', encoding="ISO-8859-1")
df1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

Kode df1.Country.value_counts().head(5) berguna untuk menampilkan 5 negara dengan jumlah transaksi terbanyak dalam dataset yang dibaca sebelumnya. Penjelasan untuk setiap bagian dari kode tersebut adalah sebagai berikut:
1.	df1 adalah sebuah variabel yang digunakan untuk menampung data yang telah diimpor dari file CSV.
2.	.Country adalah bagian dari sintaks pandas yang digunakan untuk memilih kolom "Country" dari dataframe df1.
3.	.value_counts() adalah metode pandas untuk menghitung jumlah kemunculan setiap nilai unik dalam sebuah kolom. Dalam kasus ini, metode tersebut digunakan untuk menghitung berapa kali setiap negara muncul dalam kolom "Country".
4.	.head(5) adalah metode pandas yang digunakan untuk menampilkan jumlah teratas data. Di sini, kita meminta metode ini untuk menampilkan 5 nilai teratas dari jumlah transaksi yang dihitung menggunakan value_counts(). Sehingga, output kode akan menampilkan 5 negara dengan jumlah transaksi terbanyak.

In [ ]:
# data memiliki banyak negara memilih salah satu untuk diperiksa.
df1.Country.value_counts().head(5)

United Kingdom    398222
Germany             8053
EIRE                6860
France              6819
Spain               2149
Name: Country, dtype: int64

Kode df1 = df1[df1.Country == 'France'] digunakan untuk memilih data yang hanya terkait dengan negara Prancis. Kode tersebut mengambil variabel df1 (yang sebelumnya telah digunakan untuk menampung seluruh data dari file CSV) dan memilih hanya baris yang memiliki nilai 'France' pada kolom 'Country'. Dengan melakukan hal ini, kita bisa memfokuskan analisis pada transaksi yang terjadi di negara Prancis. Setelah baris yang berkaitan dengan negara Prancis dipilih, variabel df1 akan berisi data Prancis yang baru dan selanjutnya bisa digunakan untuk melakukan analisis asosiasi dengan algoritma Apriori.

In [ ]:
# hanya menggunakan data negara Prancis untuk saat ini; bisa cek yg lain juga..
df1 = df1[df1.Country == 'France']

Kode df1['Description'] = df1['Description'].str.strip() digunakan untuk menghapus spasi yang terdapat pada awal atau akhir string pada kolom 'Description' di dataset df1. Hal ini dilakukan agar nantinya tidak ada kebingungan saat melakukan analisis terhadap item-item yang terdapat pada kolom 'Description'. Seperti yang diketahui, adanya spasi pada awal atau akhir string dapat mempengaruhi hasil pencarian atau pencocokan string pada suatu program. Oleh karena itu, langkah ini perlu dilakukan untuk memastikan integritas data dan akurasi hasil analisis.

In [ ]:
# beberapa ruang ada dalam deskripsi; perlu menghapus operasi lain nanti itu akan menimbulkan masalah ..
df1['Description'] = df1['Description'].str.strip()

Kode df1 = df1[df1.Quantity >0] digunakan untuk menghapus baris data yang memiliki nilai Quantity kurang dari atau sama dengan nol pada dataset df1. Hal ini dilakukan karena pada umumnya tidak mungkin ada transaksi yang memiliki kuantitas negatif atau nol, sehingga data tersebut perlu dihapus agar tidak mempengaruhi analisis data yang dilakukan selanjutnya. Dengan menghapus data-data tersebut, maka kita bisa mendapatkan hasil analisis yang lebih akurat dan representatif.

In [ ]:
# beberapa kuantitas transaksi negatif yang tidak mungkin dihapuskan.
df1 = df1[df1.Quantity >0]

Kode program df1 = df1[df1.Quantity >0] digunakan untuk memfilter data pada DataFrame df1 dengan menghapus baris-baris yang memiliki nilai Quantity negatif atau nol. Oleh karena itu, kuantitas transaksi negatif akan dihapus dari DataFrame.

In [ ]:
# df1[df1.Country == 'France'].head(10)
df1.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/2010 8:45,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/2010 8:45,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/2010 8:45,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,12/1/2010 8:45,0.65,12583.0,France
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,0.85,12583.0,France
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,1.25,12583.0,France
33,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,12/1/2010 8:45,2.95,12583.0,France
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,12/1/2010 8:45,2.95,12583.0,France
35,536370,22629,SPACEBOY LUNCH BOX,24,12/1/2010 8:45,1.95,12583.0,France

Pada kode ini, kita membuat tabel pivot dengan menjalankan fungsi pd.pivot_table() dengan parameter sebagai berikut:
1.	data: DataFrame yang ingin dibuat tabel pivotnya, yaitu df1.
2.	index: Kolom yang akan dijadikan sebagai indeks tabel pivot, yaitu kolom 'InvoiceNo' pada df1.
3.	columns: Kolom yang akan dijadikan sebagai kolom-kolom tabel pivot, yaitu kolom 'Description' pada df1.
4.	values: Kolom yang akan diambil nilainya untuk dihitung pada tabel pivot, yaitu kolom 'Quantity' pada df1.
5.	aggfunc: Fungsi agregasi yang digunakan untuk menghitung nilai tabel pivot, yaitu fungsi sum yang akan menjumlahkan nilai 'Quantity' untuk setiap kombinasi 'InvoiceNo' dan 'Description'.
6.	fill_value: Nilai pengganti yang akan digunakan jika terdapat nilai kosong pada tabel pivot, yaitu 0.
Jadi, kode tersebut akan menghasilkan tabel pivot basket yang berisi nilai jumlah 'Quantity' untuk setiap kombinasi 'InvoiceNo' dan 'Description' pada DataFrame df1.

In [ ]:
#mengonversi data dalam format yang diperlukan
#mengonversi menggunakan tabel pivot dan Jumlah jumlah sebagai nilai. isi 0 jika ada nilai nan

basket = pd.pivot_table(data=df1,index='InvoiceNo',columns='Description',values='Quantity', aggfunc='sum',fill_value=0)

Method tail() digunakan untuk menampilkan beberapa baris terakhir dari DataFrame atau tabel pivot, secara default menampilkan 5 baris terakhir. Namun, kita dapat menentukan jumlah baris yang ingin ditampilkan dengan menambahkan parameter n pada method tail(), misalnya basket.tail(10) untuk menampilkan 10 baris terakhir dari tabel pivot basket.Dalam kode ini, basket.tail() akan menampilkan 5 baris terakhir dari tabel pivot basket, sehingga kita dapat melihat data terbaru yang dihitung oleh tabel pivot tersebut. Hal ini berguna untuk memastikan bahwa pembuatan tabel pivot berhasil dilakukan dengan benar dan data-data yang dihitung oleh tabel pivot sudah sesuai dengan yang diharapkan

In [ ]:
basket.tail()

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,...,WRAP RED VINTAGE DOILY,WRAP SUKI AND FRIENDS,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
573891,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
574068,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
574093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
574104,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
574252,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Pada kode ini, basket['10 COLOUR SPACEBOY PEN'] digunakan untuk memperoleh kolom '10 COLOUR SPACEBOY PEN' dari tabel pivot basket. Kemudian, method head(10) digunakan untuk menampilkan 10 baris pertama dari kolom tersebut.

Dengan demikian, kode tersebut akan menampilkan 10 nilai pertama dari kolom '10 COLOUR SPACEBOY PEN' pada tabel pivot basket. Hal ini berguna untuk melihat bagaimana nilai-nilai pada kolom tersebut terdistribusi dan apakah terdapat nilai-nilai yang tidak wajar atau perlu diperiksa lebih lanjut.

In [ ]:
#ini untuk memeriksa kebenaran setelah membuangnya ke 1 ..
basket['10 COLOUR SPACEBOY PEN'].head(10)

InvoiceNo
536370     0
536852     0
536974     0
537065     0
537463     0
537468    24
537693     0
537897     0
537967     0
538008     0
Name: 10 COLOUR SPACEBOY PEN, dtype: int64

Fungsi Python yang disebut convert_into_binary yang mengambil satu parameter masukan x.

Fungsi memeriksa apakah nilai input x lebih besar dari nol. Jika ya, fungsi akan mengembalikan nilai 1. Jika tidak, jika nilai inputnya nol atau negatif, fungsi akan mengembalikan nilai 0.

Fungsi ini pada dasarnya mengubah nilai input positif apa pun menjadi 1, dan nilai non-positif apa pun (yaitu nol atau negatif) menjadi 0.

In [ ]:
# kita tidak membutuhkan jumlah kuantitas 
# kita perlu mengambil atau tidak
# jadi jika pengguna telah mengambil tanda item itu sebagai 1 tanda lain sebagai 0.

def convert_into_binary(x):
    if x > 0:
        return 1
    else:
        return 0

Baris kode ini digunakan untuk menerapkan fungsi convert_into_binary ke setiap elemen dalam DataFrame panda yang disebut basket, dan menyimpan nilai biner yang dihasilkan dalam DataFrame baru yang disebut basket_sets.

Metode .applymap() digunakan untuk menerapkan fungsi convert_into_binary ke setiap elemen dalam keranjang DataFrame. Nilai biner yang dihasilkan kemudian disimpan dalam DataFrame baru yang disebut basket_sets.

Dengan asumsi bahwa fungsi convert_into_binary berfungsi seperti yang dijelaskan dalam jawaban sebelumnya, kode ini akan mengonversi setiap elemen dalam keranjang DataFrame menjadi nilai biner 0 atau 1, bergantung pada apakah nilai aslinya nol atau positif.

Kode ini dapat berguna untuk mengonversi nilai numerik dalam DataFrame menjadi nilai biner, yang dapat berguna untuk jenis tugas analisis atau pembelajaran mesin tertentu.

In [ ]:
basket_sets = basket.applymap(convert_into_binary)

Baris kode ini digunakan untuk menampilkan 10 baris pertama item '10 COLOR SPACEBOY PEN' dalam DataFrame panda yang disebut basket_sets.

Dengan asumsi bahwa item '10 COLOR SPACEBOY PEN' adalah kolom dalam Basket_sets DataFrame, kode ini akan menampilkan 10 baris pertama dari kolom tersebut. Metode .head(10) digunakan untuk membatasi output ke 10 baris pertama kolom.

Namun, penting untuk dicatat bahwa basket_sets DataFrame adalah hasil dari penerapan fungsi convert_into_binary ke basket DataFrame, sehingga kolom '10 COLOR SPACEBOY PEN' di basket_sets hanya akan berisi nilai biner (yaitu 0 atau 1) yang menunjukkan apakah setiap transaksi dalam keranjang berisi item '10 COLOR SPACEBOY PEN' atau tidak.

Kode ini dapat berguna untuk memeriksa nilai biner item '10 COLOR SPACEBOY PEN' dengan cepat di DataFrame basket_sets, terutama jika DataFrame sangat besar dan sulit untuk melihat semua nilai sekaligus.

In [ ]:
# periksa: apakah kuantitas sekarang dikonversi menjadi 1 atau 0.
basket_sets['10 COLOUR SPACEBOY PEN'].head(10)

InvoiceNo
536370    0
536852    0
536974    0
537065    0
537463    0
537468    1
537693    0
537897    0
537967    0
538008    0
Name: 10 COLOUR SPACEBOY PEN, dtype: int64

Baris kode ini menghapus kolom 'POSTAGE' dari DataFrame panda yang disebut basket_sets dan memodifikasi DataFrame di tempatnya.

Metode .drop() digunakan untuk menghapus kolom 'POSTAGE' dari basket_sets DataFrame. Parameter kolom digunakan untuk menentukan kolom yang akan dihapus, dan parameter inplace disetel ke True untuk mengubah DataFrame basket_sets asli.

Dengan asumsi kolom 'POSTAGE' ada di basket_sets DataFrame, kode ini akan menghapus kolom dari DataFrame.

Kode ini dapat berguna jika kolom 'POSTAGE' tidak relevan untuk analisis yang dilakukan pada Basket_sets DataFrame, atau jika kolom berisi data yang hilang atau tidak valid yang perlu dihapus.

In [ ]:
# remove postage item as it is just a seal which almost all transaction contains. 
print(basket_sets['POSTAGE'].head())

basket_sets.drop(columns=['POSTAGE'],inplace=True)

InvoiceNo
536370    1
536852    1
536974    1
537065    1
537463    1
Name: POSTAGE, dtype: int64

Kode frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True) adalah implementasi dari algoritma Apriori untuk menghasilkan frequent itemsets dari data.
1.	Algoritma Apriori adalah algoritma populer untuk analisis asosiasi yang menghasilkan himpunan itemset-itemset yang sering muncul dalam data.
2.	Parameter pertama basket_sets adalah input data untuk algoritma Apriori, yang dapat berupa array, DataFrame, atau struktur data lainnya.
3.	Parameter kedua min_support menentukan support minimum yang diperlukan untuk dikategorikan sebagai frequent itemset. Support mengukur seberapa sering suatu itemset muncul dalam data, dan min_support menentukan batas bawah support yang dianggap cukup tinggi untuk dianggap frequent.
4.	Parameter ketiga use_colnames diatur menjadi True untuk menentukan bahwa nama kolom digunakan dalam representasi itemset yang dihasilkan, bukan indeks itemset.
5.	Hasil frequent itemsets kemudian disimpan dalam variabel frequent_itemsets, yang biasanya berupa DataFrame dengan dua kolom: "support" dan "itemsets".
6.	Kolom "support" menunjukkan support dari itemset yang dihasilkan, sedangkan kolom "itemsets" berisi daftar itemset yang dianggap frequent dalam data.

In [ ]:
# panggil fungsi apriori dan berikan dukungan minimum di sini kita melewati 7%.
# berarti 7 kali jumlah total transaksi item harus ada.
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

Kode frequent_itemsets merupakan sebuah variabel yang kemungkinan besar merupakan hasil dari suatu analisis data menggunakan algoritma association rule mining, seperti Apriori atau FP-Growth. Variabel ini berisi himpunan itemset-itemset yang muncul dalam data dengan frekuensi tertentu, yang dianggap sebagai "frequent" atau sering muncul dalam data. Itemset-itemset ini dapat terdiri dari satu item saja (singelton) atau beberapa item (multi-item), dan sering kali disimpan dalam bentuk struktur data seperti DataFrame atau list. Jadi, variabel frequent_itemsets ini mungkin berisi daftar itemset-itemset yang sering muncul dalam data dan kemungkinan digunakan untuk menghasilkan aturan asosiasi.

In [ ]:
#menghasilkan kumpulan item yang sering
frequent_itemsets

     support                                           itemsets
0   0.094637                       (ALARM CLOCK BAKELIKE GREEN)
1   0.094637                        (ALARM CLOCK BAKELIKE PINK)
2   0.085174                         (ALARM CLOCK BAKELIKE RED)
3   0.072555                       (ASSORTED COLOUR MINI CASES)
4   0.072555                     (BAKING SET 9 PIECE RETROSPOT)
5   0.078864                      (CHARLOTTE BAG APPLES DESIGN)
6   0.082019                          (CIRCUS PARADE LUNCH BOX)
7   0.072555                         (COFFEE MUG APPLES DESIGN)
8   0.116719                             (DOLLY GIRL LUNCH BOX)
9   0.097792                          (JUMBO BAG RED RETROSPOT)
10  0.072555                       (JUMBO BAG WOODLAND ANIMALS)
11  0.135647                           (LUNCH BAG APPLE DESIGN)
12  0.091483                      (LUNCH BAG DOLLY GIRL DESIGN)
13  0.160883                          (LUNCH BAG RED RETROSPOT)
14  0.135647                        (LUNCH BAG SPACEBOY DESIGN)
15  0.129338                               (LUNCH BAG WOODLAND)
16  0.078864                          (LUNCH BOX I LOVE LONDON)
17  0.157729                 (LUNCH BOX WITH CUTLERY RETROSPOT)
18  0.110410                           (MINI PAINT SET VINTAGE)
19  0.107256                  (PACK OF 72 RETROSPOT CAKE CASES)
20  0.094637                          (PAPER BUNTING RETROSPOT)
21  0.173502                    (PLASTERS IN TIN CIRCUS PARADE)
22  0.141956                         (PLASTERS IN TIN SPACEBOY)
23  0.078864                        (PLASTERS IN TIN STRONGMAN)
24  0.186120                 (PLASTERS IN TIN WOODLAND ANIMALS)
25  0.116719                               (RABBIT NIGHT LIGHT)
26  0.085174                            (RED  HARMONICA IN BOX)
27  0.091483                      (RED RETROSPOT CHARLOTTE BAG)
28  0.141956                         (RED RETROSPOT MINI CASES)
29  0.085174                         (RED RETROSPOT PICNIC BAG)
30  0.173502                    (RED TOADSTOOL LED NIGHT LIGHT)
31  0.119874                         (REGENCY CAKESTAND 3 TIER)
32  0.082019                  (RETROSPOT TEA SET CERAMIC 11 PC)
33  0.107256                (ROUND SNACK BOXES SET OF 4 FRUITS)
34  0.164038               (ROUND SNACK BOXES SET OF4 WOODLAND)
35  0.078864              (SET OF 2 TEA TOWELS APPLE AND PEARS)
36  0.082019                (SET/10 RED POLKADOT PARTY CANDLES)
37  0.145110               (SET/20 RED RETROSPOT PAPER NAPKINS)
38  0.157729                      (SET/6 RED SPOTTY PAPER CUPS)
39  0.148265                    (SET/6 RED SPOTTY PAPER PLATES)
40  0.078864                           (SPACEBOY BIRTHDAY CARD)
41  0.141956                               (SPACEBOY LUNCH BOX)
42  0.135647                (STRAWBERRY LUNCH BOX WITH CUTLERY)
43  0.100946                          (TEA PARTY BIRTHDAY CARD)
44  0.072555                          (WATERING CAN PINK BUNNY)
45  0.072555                           (WOODLAND CHARLOTTE BAG)
46  0.075710  (ALARM CLOCK BAKELIKE RED, ALARM CLOCK BAKELIK...
47  0.082019         (SPACEBOY LUNCH BOX, DOLLY GIRL LUNCH BOX)
48  0.075710  (LUNCH BAG SPACEBOY DESIGN, LUNCH BAG APPLE DE...
49  0.075710  (LUNCH BAG SPACEBOY DESIGN, LUNCH BAG RED RETR...
50  0.072555    (LUNCH BAG SPACEBOY DESIGN, LUNCH BAG WOODLAND)
51  0.097792  (PLASTERS IN TIN SPACEBOY, PLASTERS IN TIN CIR...
52  0.113565  (PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN...
53  0.110410  (PLASTERS IN TIN SPACEBOY, PLASTERS IN TIN WOO...
54  0.116719  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...
55  0.116719  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...
56  0.141956  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...
57  0.075710  (PLASTERS IN TIN SPACEBOY, PLASTERS IN TIN WOO...
58  0.113565  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...

1.	rules_mlxtend = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
	Baris kode ini memanggil fungsi association_rules() untuk melakukan analisis asosiasi pada itemset yang ditemukan sebelumnya dalam variabel frequent_itemsets.
	Fungsi association_rules() adalah fungsi dari library mlxtend yang digunakan untuk menghasilkan aturan asosiasi dari itemset yang diberikan.
	Pada baris ini, parameter metric diatur menjadi "lift", yang menunjukkan bahwa perhitungan kinerja aturan asosiasi didasarkan pada penggunaan ukuran keterkaitan "lift".
	Parameter min_threshold diatur menjadi 1, yang menunjukkan bahwa hanya aturan asosiasi dengan nilai "lift" lebih besar dari 1 saja yang akan disertakan dalam output.
	Output dari fungsi ini kemudian disimpan dalam variabel "rules_mlxtend".
2.	rules_mlxtend.head()
	Baris kode ini menggunakan fungsi head() untuk menampilkan lima baris pertama dari DataFrame yang disimpan dalam variabel "rules_mlxtend".
	Output ini menunjukkan beberapa atribut untuk aturan asosiasi, termasuk itemset asal, itemset tujuan, nilai support, nilai confidence, dan nilai lift.

In [ ]:
# Kami akan menerapkan aturan asosiasi pada frequent itemset.
# di sini kita menyetel berdasarkan lift dan mempertahankan lift minimum sebagai 1

rules_mlxtend = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules_mlxtend.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE GREEN),0.085174,0.094637,0.075710,0.888889,9.392593,0.067649,8.148265
1,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED),0.094637,0.085174,0.075710,0.800000,9.392593,0.067649,4.574132
2,(SPACEBOY LUNCH BOX),(DOLLY GIRL LUNCH BOX),0.141956,0.116719,0.082019,0.577778,4.950150,0.065450,2.091981
3,(DOLLY GIRL LUNCH BOX),(SPACEBOY LUNCH BOX),0.116719,0.141956,0.082019,0.702703,4.950150,0.065450,2.886149
4,(LUNCH BAG SPACEBOY DESIGN),(LUNCH BAG APPLE DESIGN),0.135647,0.135647,0.075710,0.558140,4.114657,0.057310,1.956168

Pemrosesan data menggunakan Pandas, NumPy, atau library lainnya untuk mengambil baris-baris tertentu dari suatu DataFrame berdasarkan kondisi tertentu. Pada kode ini, asumsinya adalah sebuah DataFrame bernama "rules_mlxtend" yang memiliki beberapa kolom seperti 'lift' dan 'confidence'. Kemudian, fungsi head() dipanggil pada DataFrame tersebut, yang akan mengembalikan 5 baris pertama dari DataFrame yang sesuai dengan kondisi tertentu. Kondisi yang diberikan terletak di dalam tanda kurung siku [], dimana pertama-tama dilakukan pemfilteran berdasarkan nilai kolom 'lift' yang harus lebih besar dari atau sama dengan 4, dan juga pemfilteran berdasarkan nilai kolom 'confidence' yang harus lebih besar dari atau sama dengan 0,8. Jadi, baris kode ini akan mengembalikan lima baris pertama dari DataFrame "rules_mlxtend" yang memenuhi kondisi tersebut.

In [ ]:
# rules_mlxtend.rename(columns={'antecedents':'lhs','consequents':'rhs'})

# sebagai kasus penggunaan bisnis berdasarkan, kami dapat mengurutkan berdasarkan kepercayaan dan peningkatan.

rules_mlxtend[ (rules_mlxtend['lift'] >= 4) & (rules_mlxtend['confidence'] >= 0.8) ].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ALARM CLOCK BAKELIKE RED),(ALARM CLOCK BAKELIKE GREEN),0.085174,0.094637,0.075710,0.888889,9.392593,0.067649,8.148265
1,(ALARM CLOCK BAKELIKE GREEN),(ALARM CLOCK BAKELIKE RED),0.094637,0.085174,0.075710,0.800000,9.392593,0.067649,4.574132
17,(SET/20 RED RETROSPOT PAPER NAPKINS),(SET/6 RED SPOTTY PAPER CUPS),0.145110,0.157729,0.116719,0.804348,5.099565,0.093831,4.304942
19,(SET/20 RED RETROSPOT PAPER NAPKINS),(SET/6 RED SPOTTY PAPER PLATES),0.145110,0.148265,0.116719,0.804348,5.425069,0.095204,4.353312
20,(SET/6 RED SPOTTY PAPER PLATES),(SET/6 RED SPOTTY PAPER CUPS),0.148265,0.157729,0.141956,0.957447,6.070213,0.118570,19.793375